<div class="post-preview">
    <div class="post-img" style="background-image: url('<%= config.root %><%= post.image %>')"></div>
    <div class="post-info">
        <div class="post-info-center">
            <div class="hidden-xs">
                <% if (post.top && !is_post()){ %>
                <span>[TOP]</span>
                <% } %>
                <% if (post.tags.length){%>
                <span>/</span>
                <% post.tags.forEach(function(tag){ %>
                <a class="text-gray" href="<%= config.root %>tags/#<%= tag.name %>"
                    title="<%= tag.name %>">#<%= tag.name %></a>
                <span>/</span>
                <% }) %>
                <% } %>
            </div>
            <a href="<%= config.root %><%- post.path %>" class="title">
                <%- post.title || "Untitled" %>
            </a>
            <p> <%- post.description %></p>
            <p class="text-gray">
                <small>
                    <span>Edit @ <%= post.date.format('YYYY-MM-DD') %>，</span>
                    <span class="hidden-xs">Wold Count: <%= post.raw.length %>，</span>
                    <span>about <%= Math.ceil(post.raw.length / 300) %> min read</span>
                </small>
            </p>
        </div>
    </div>
</div>